<h1>{{title}}</h1>
<nav>
    <ul>
        <li class="nav_all" (click)="onSelect('all')"><i class="fa fa-home" aria-hidden="true"></i>
</li>
        <li *ngFor="let day of days" [class.selected]="day === selectedDays[0] && firstload == false" (click)="onSelect(day)">{{day}}</li>
    </ul>
</nav>
<!--<div id="result" [innerHTML]="selectedSociety?.description"></div>-->
<section id="timetable-wrapper">
<div *ngFor="let day of selectedDays;" class="timetable-column">
    
    <h4 class="timetable-column-title">{{day}}</h4>
    
    <div *ngIf="timetable[day]?.length === 0" class="msg">{{msg}}</div>
    
    <ul (click)="moreinfo(society.url)" *ngFor="let society of timetable[day]" class="timetable-column-events" >
        <li class="society">
            <div class="society-image"><img src="{{society.img}}"/></div>
            <div class="society-text">
                <li class="society-name">{{society.name}}</li>
                <li class="society-location">@ {{society.location}}</li>
                <!--<button (click)="getSocietyInfo(society.id)">Go</button>-->
            </div>
            <div class="society-time">
                <div class="society-time-start">{{society.start}}</div>
                <div class="society-time-end">{{society.end}}</div>
            </div>
        </li>

    </ul>
</div>
</section>