/*--------- Colors ----------*/
/*---------- Media Queries ----------*/
/* Medium devices (desktops, 992px and up) */
/*---------- Mixins ----------*/
/*---------- SCSS ----------*/
/* line 49, ../sass/sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 53, ../sass/sass/styles.scss */
body {
  background-color: #363636;
  color: white;
  font-family: 'Bree Serif', serif;
}

/* line 58, ../sass/sass/styles.scss */
h1, h2, h3, h4, h5 {
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #1b1b1b;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* line 63, ../sass/sass/styles.scss */
h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  background: #1b1b1b;
  padding-bottom: 10px;
  font-size: 25px;
  padding-top: 5px;
  text-shadow: 0px 1px 0px black;
  height: 40px;
  line-height: 40px;
}
@media (max-width: 768px) {
  /* line 63, ../sass/sass/styles.scss */
  h1 {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 2.5em;
  }
}

/* line 80, ../sass/sass/styles.scss */
hr {
  background-color: #1b1b1b;
  height: 1px;
  border: none;
  border-bottom: 1px solid #565656;
  margin: 10px 0;
}

/*----- Navigation -----*/
/* line 88, ../sass/sass/styles.scss */
.selected {
  background-color: #269998;
}

/* line 91, ../sass/sass/styles.scss */
nav {
  text-align: left;
  margin: auto;
  width: 10%;
  position: relative;
  margin-left: 1%;
  float: left;
  margin-top: 16px;
}
@media (max-width: 768px) {
  /* line 91, ../sass/sass/styles.scss */
  nav {
    margin-left: 0;
    margin-top: 0;
    color: #c4c4c4;
  }
}
/* line 108, ../sass/sass/styles.scss */
nav ul li.nav_all {
  background: #269998;
  padding: 3px;
  text-align: center;
  font-size: 27px;
  line-height: 9px;
}
/* line 116, ../sass/sass/styles.scss */
nav ul li {
  background-color: #313131;
  list-style-type: none;
  cursor: pointer;
  text-align: left;
  padding: 20px;
  overflow: hidden;
  padding-left: 14px;
  margin-bottom: 3px;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 116, ../sass/sass/styles.scss */
  nav ul li {
    font-size: 80%;
    padding-left: 6px;
  }
}
@media (max-width: 768px) {
  /* line 116, ../sass/sass/styles.scss */
  nav ul li {
    padding: 8px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    writing-mode: vertical-lr;
  }
}
/* line 142, ../sass/sass/styles.scss */
nav ul li:hover {
  background-color: #269998;
  text-shadow: 0px 1px 0px #28807f;
  color: white;
}

/*----- Footer -----*/
/* line 150, ../sass/sass/styles.scss */
footer {
  background-color: #1b1b1b;
  font-size: 11px;
  text-align: center;
  padding: 5px;
  clear: both;
}
/* line 156, ../sass/sass/styles.scss */
footer a {
  color: #3eacab;
  text-decoration: none;
  border-bottom: 0.8px dotted;
}

/*---------- Main Content ---------- */
/* line 164, ../sass/sass/styles.scss */
.msg {
  color: #1b1b1b;
}

/* line 167, ../sass/sass/styles.scss */
#timetable-wrapper {
  width: 87%;
  float: left;
  margin-right: 2%;
}
@media (max-width: 768px) {
  /* line 167, ../sass/sass/styles.scss */
  #timetable-wrapper {
    margin-right: 0%;
    margin-left: 2%;
  }
}

/* line 178, ../sass/sass/styles.scss */
.timetable-column {
  width: 99%;
  position: relative;
  clear: both;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 5px dashed #313131;
  padding-left: 1.3%;
}
@media (max-width: 768px) {
  /* line 178, ../sass/sass/styles.scss */
  .timetable-column {
    padding: 0;
    border-bottom: 3px dashed #313131;
  }
}

/* line 193, ../sass/sass/styles.scss */
.timetable-column-title {
  color: white;
  font-weight: lighter;
  font-size: 20px;
}

/* line 198, ../sass/sass/styles.scss */
ul.timetable-column-events {
  width: 100%;
  position: relative;
}

/* line 202, ../sass/sass/styles.scss */
ul.timetable-column-events:hover {
  background-color: rgba(62, 172, 171, 0.09);
  cursor: pointer;
}

/* line 209, ../sass/sass/styles.scss */
li.society {
  width: 100%;
  height: 100px;
  list-style-type: none;
  clear: both;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  /* line 209, ../sass/sass/styles.scss */
  li.society {
    margin-bottom: 10px;
    height: 70px;
  }
}

/* line 222, ../sass/sass/styles.scss */
.society-image {
  width: 100px;
  height: 100px;
  background-color: #1b1b1b;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  left: 0;
}
@media (max-width: 768px) {
  /* line 222, ../sass/sass/styles.scss */
  .society-image {
    width: 70px;
    height: 70px;
  }
}
/* line 237, ../sass/sass/styles.scss */
.society-image img {
  width: 100%;
  height: 100%;
}

/* line 242, ../sass/sass/styles.scss */
.society-text {
  width: 36%;
  position: absolute;
  left: 110px;
  top: 6px;
}
@media (max-width: 768px) {
  /* line 242, ../sass/sass/styles.scss */
  .society-text {
    left: 80px;
    width: 45%;
    height: 70px;
    top: 0;
    overflow: auto;
  }
}
/* line 256, ../sass/sass/styles.scss */
.society-text .society-name {
  color: #829fff;
  font-size: 20px;
  text-shadow: 0px 1px 0px black;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #1b1b1b;
}
@media (max-width: 768px) {
  /* line 256, ../sass/sass/styles.scss */
  .society-text .society-name {
    font-size: 18px;
    padding-top: 3px;
  }
}
/* line 268, ../sass/sass/styles.scss */
.society-text .society-location {
  color: skyblue;
  font-size: 18px;
}
@media (max-width: 768px) {
  /* line 268, ../sass/sass/styles.scss */
  .society-text .society-location {
    font-size: 13px;
    line-height: 15px;
    vertical-align: middle;
    height: 40px;
    display: table-cell;
  }
}

/* line 284, ../sass/sass/styles.scss */
.society-time {
  height: 100%;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  text-shadow: 0 1px 0 #0b4a49;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 768px) {
  /* line 284, ../sass/sass/styles.scss */
  .society-time {
    font-size: 16px;
    height: 70px;
  }
}
/* line 299, ../sass/sass/styles.scss */
.society-time div {
  color: white;
  padding: 11.5px 20px;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 299, ../sass/sass/styles.scss */
  .society-time div {
    height: 50%;
    line-height: 2.1em;
    padding: 0;
  }
}
/* line 312, ../sass/sass/styles.scss */
.society-time .society-time-start {
  background-color: #269998;
}
/* line 316, ../sass/sass/styles.scss */
.society-time .society-time-end {
  background-color: #3eacab;
}
