/*--------- Colors ----------*/
/*---------- Mixins ----------*/
/*---------- SCSS ----------*/
/* line 34, ../sass/sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/sass/styles.scss */
body {
  background-color: #363636;
  color: white;
  font-family: 'Bree Serif', serif;
}

/* line 43, ../sass/sass/styles.scss */
h1, h2, h3, h4, h5 {
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #1b1b1b;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* line 48, ../sass/sass/styles.scss */
h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  background: #1b1b1b;
  padding-bottom: 10px;
  font-size: 25px;
  padding-top: 5px;
  text-shadow: 0px 1px 0px black;
}

/* line 58, ../sass/sass/styles.scss */
hr {
  background-color: #1b1b1b;
  height: 1px;
  border: none;
  border-bottom: 1px solid #565656;
  margin: 10px 0;
}

/*----- Navigation -----*/
/* line 66, ../sass/sass/styles.scss */
.selected {
  background-color: #269998;
}

/* line 69, ../sass/sass/styles.scss */
nav {
  text-align: left;
  margin: auto;
  width: 10%;
  position: relative;
  margin-left: 1%;
  float: left;
  margin-top: 16px;
}
/* line 80, ../sass/sass/styles.scss */
nav ul li.nav_all {
  background: #269998;
}
/* line 84, ../sass/sass/styles.scss */
nav ul li {
  background-color: #313131;
  list-style-type: none;
  cursor: pointer;
  text-align: left;
  padding: 20px;
  overflow: hidden;
  padding-left: 14px;
  margin-bottom: 3px;
  font-size: 16px;
}
/* line 95, ../sass/sass/styles.scss */
nav ul li:hover {
  background-color: #269998;
  text-shadow: 0px 1px 0px #28807f;
}

/*----- Footer -----*/
/* line 102, ../sass/sass/styles.scss */
footer {
  background-color: #1b1b1b;
  font-size: 11px;
  text-align: center;
  padding: 5px;
  clear: both;
}
/* line 108, ../sass/sass/styles.scss */
footer a {
  color: #3eacab;
  text-decoration: none;
  border-bottom: 0.8px dotted;
}

/*---------- Main Content ---------- */
/* line 116, ../sass/sass/styles.scss */
.msg {
  color: #1b1b1b;
}

/* line 119, ../sass/sass/styles.scss */
#timetable-wrapper {
  width: 87%;
  float: left;
  margin-right: 2%;
}

/* line 124, ../sass/sass/styles.scss */
.timetable-column {
  width: 99%;
  position: relative;
  clear: both;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 5px dashed #313131;
}

/* line 132, ../sass/sass/styles.scss */
.timetable-column-title {
  color: white;
  font-weight: lighter;
  font-size: 20px;
}

/* line 137, ../sass/sass/styles.scss */
ul.timetable-column-events {
  width: 100%;
  position: relative;
}

/* line 141, ../sass/sass/styles.scss */
ul.timetable-column-events:hover {
  background-color: rgba(62, 172, 171, 0.09);
  cursor: pointer;
}

/* line 145, ../sass/sass/styles.scss */
li.society {
  width: 100%;
  height: 100px;
  list-style-type: none;
  clear: both;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 154, ../sass/sass/styles.scss */
.society-image {
  width: 100px;
  height: 100px;
  background-color: #1b1b1b;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  left: 0;
}
/* line 164, ../sass/sass/styles.scss */
.society-image img {
  width: 100%;
  height: 100%;
}

/* line 169, ../sass/sass/styles.scss */
.society-text {
  width: 36%;
  position: absolute;
  left: 110px;
  top: 6px;
}
/* line 175, ../sass/sass/styles.scss */
.society-text .society-name {
  color: #829fff;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #1b1b1b;
  font-size: 20px;
}
/* line 180, ../sass/sass/styles.scss */
.society-text .society-location {
  color: skyblue;
  font-size: 18px;
}

/* line 188, ../sass/sass/styles.scss */
.society-time {
  height: 100%;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  text-shadow: 0 1px 0 #0b4a49;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 200, ../sass/sass/styles.scss */
.society-time div {
  color: white;
  padding: 11.5px 20px;
  text-align: center;
}
/* line 206, ../sass/sass/styles.scss */
.society-time .society-time-start {
  background-color: #269998;
}
/* line 210, ../sass/sass/styles.scss */
.society-time .society-time-end {
  background-color: #3eacab;
}
