/*--------- Colors ----------*/
/*---------- Mixins ----------*/
/*---------- SCSS ----------*/
/* line 33, ../sass/sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/sass/styles.scss */
body {
  background-color: #363636;
  color: white;
  font-family: 'Bree Serif', serif;
}

/* line 42, ../sass/sass/styles.scss */
h1, h2, h3, h4, h5 {
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #1b1b1b;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* line 47, ../sass/sass/styles.scss */
h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  background: #1b1b1b;
  padding-bottom: 10px;
  font-size: 25px;
  padding-top: 5px;
  text-shadow: 0px 1px 0px black;
}

/* line 57, ../sass/sass/styles.scss */
hr {
  background-color: #1b1b1b;
  height: 1px;
  border: none;
  border-bottom: 1px solid #565656;
  margin: 10px 0;
}

/*----- Navigation -----*/
/* line 65, ../sass/sass/styles.scss */
nav {
  text-align: center;
  margin: auto;
  width: 90%;
  height: 22px;
  position: relative;
}
/* line 76, ../sass/sass/styles.scss */
nav ul li.nav_all {
  background: #269998;
}
/* line 80, ../sass/sass/styles.scss */
nav ul li {
  list-style-type: none;
  background-color: #3eacab;
  cursor: pointer;
  text-align: center;
  float: left;
  padding: 0.2%;
  margin: 0.2%;
  width: 11.7%;
  overflow: hidden;
}
/* line 91, ../sass/sass/styles.scss */
nav ul li:hover {
  background-color: #269998;
  text-shadow: 0px 1px 0px #28807f;
}

/*----- Footer -----*/
/* line 98, ../sass/sass/styles.scss */
footer {
  background-color: #1b1b1b;
  font-size: 11px;
  text-align: center;
  padding: 5px;
}
/* line 103, ../sass/sass/styles.scss */
footer a {
  color: #3eacab;
  text-decoration: none;
  border-bottom: 0.8px dotted;
}

/* line 109, ../sass/sass/styles.scss */
#timetable-wrapper {
  width: 90%;
  margin: auto;
  min-height: 143px;
}

/* line 114, ../sass/sass/styles.scss */
.timetable-column {
  width: 99%;
  position: relative;
  margin: 10px;
  clear: both;
}

/* line 120, ../sass/sass/styles.scss */
.timetable-column-title {
  color: white;
  font-weight: lighter;
  font-size: 20px;
}

/* line 125, ../sass/sass/styles.scss */
ul.timetable-column-events {
  width: 100%;
  position: relative;
}

/* line 129, ../sass/sass/styles.scss */
ul.timetable-column-events:hover {
  background-color: rgba(62, 172, 171, 0.09);
  cursor: pointer;
}

/* line 133, ../sass/sass/styles.scss */
li.society {
  width: 100%;
  height: 100px;
  list-style-type: none;
  clear: both;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 142, ../sass/sass/styles.scss */
.society-image {
  width: 100px;
  height: 100px;
  background-color: #1b1b1b;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  left: 0;
}
/* line 152, ../sass/sass/styles.scss */
.society-image img {
  width: 100%;
  height: 100%;
}

/* line 157, ../sass/sass/styles.scss */
.society-text {
  width: 36%;
  position: absolute;
  left: 110px;
  top: 6px;
}
/* line 163, ../sass/sass/styles.scss */
.society-text .society-name {
  color: #829fff;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #1b1b1b;
  font-size: 20px;
}
/* line 168, ../sass/sass/styles.scss */
.society-text .society-location {
  color: skyblue;
  font-size: 18px;
}

/* line 176, ../sass/sass/styles.scss */
.society-time {
  height: 100%;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  text-shadow: 0 1px 0 #0b4a49;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 188, ../sass/sass/styles.scss */
.society-time div {
  color: white;
  padding: 11.5px 20px;
  text-align: center;
}
/* line 194, ../sass/sass/styles.scss */
.society-time .society-time-start {
  background-color: #269998;
}
/* line 198, ../sass/sass/styles.scss */
.society-time .society-time-end {
  background-color: #3eacab;
}
