@import "compass";

/*--------- Colors ----------*/
$grey       : #363636;  //background          
$darkgrey   : #1b1b1b;  //Timetable           
$lightgrey  : #565656;  //Timetable -> Shadow 
$buttongrey : #313131;  //Monday, Tuesday, etc.

$brightteal : #48d6d5;  //Featured background 
$darkteal   : #269998;  //Start time          
$lightteal  : #3eacab;  //End time
$dentedteal : #28807f;      

$babyblue   : #829fff;  //Society Name            
$skyblue    : #bbcbff;  //Society Location

/*---------- Browsers ----------*/
  /*
  * Browser Specific CSS rules
  * Usuage example:
  * @include firefox{
      background-color:red;
    }
  */

  //Firefox
  @mixin firefox{
    @-moz-document url-prefix(){
      @content;
    }
  }

  // Internet Explorer/Edge ≥ 10
  @mixin ie{
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  }

  // Opera ≥ 12
  @mixin opera{
      @media (min-resolution: .001dpcm) {
           _:-o-prefocus, .selector {};
           @content;
    }
  }

  //Safari
  @mixin safari{
      // Safari ≤ 6
      @media screen { @media (min-width: 0px) {}; @content };

      // Safari >= 7
      @media \\0 screen {
          @content;
      }
  }

/*---------- Media Queries ----------*/
@mixin xs(){
    @media (max-width: 350px) { @content; }
}
@mixin small(){
    @media (max-width: 768px) { @content; }
}

@mixin medium(){
    @media (min-width: 768px) and (max-width: 991px) { @content; }
}

/* Medium devices (desktops, 992px and up) */
@mixin large(){
    @media (min-width: 992px) and (max-width:1199px) { @content; }
}


/*---------- Mixins ----------*/
@mixin wash($left, $right){
    @include filter-gradient($left, $right, horizontal);
    @include background-image(linear-gradient(left,  $left 0%,$right 100%));
}

@mixin dented(){
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
}
@mixin line(){
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid $darkgrey;
}
/*---------- SCSS ----------*/
*{
    margin:0;
    padding:0;
}
body {
    background-color: $grey;
    color:white;
    font-family: 'Bree Serif', serif;
}
h1,h2,h3,h4,h5{
    @include line();
    margin-bottom:10px;
    padding-bottom:5px;
}
header.header {
    color: white;
    font-weight: bold;
    text-align: center;
    background: $darkgrey;
    padding-bottom: 10px;
    font-size: 25px;
    padding-top: 5px;
    text-shadow:0px 1px 0px black;
    height:40px;
    line-height:40px;

    @include small(){
        font-size:18px;
        margin-bottom:0;
        line-height:2.5em;
    }

    @include xs(){
        font-size:16px;
        overflow:hidden;
    }


}
hr{
    background-color: $darkgrey;
    height:1px;
    border:none;
    border-bottom:1px solid $lightgrey;
    margin:10px 0;
}
/*----- Navigation -----*/
.selected{
    background-color: $darkteal;
}
nav{
    text-align: left;
    margin: auto;
    width: 10%;
    position: relative;
    margin-left: 1%;
    float: left;
    margin-top:16px;

    @include small(){
        margin-left:0;
        margin-top:0;
        color:#c4c4c4;
    }

    ul{

        li.nav_all{
            background: #269998;
            padding: 3px;
            text-align: center;
            font-size: 27px;
            line-height: 9px;
        }

        li{
            background-color:$buttongrey;
            list-style-type: none;
            cursor: pointer;
            text-align: left;
            padding: 20px;
            overflow: hidden;
            padding-left: 14px;
            margin-bottom: 3px;
            font-size: 16px;

            @include medium(){
                font-size:80%;
                padding-left:6px;
            }

            @include small(){
                padding: 8px;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                writing-mode: vertical-lr;
                writing-mode: tb-lr;

                @include ie(){
                    writing-mode: tb-lr;
                    height:55px;
                }

                @include safari(){
                    writing-mode: tb-lr;
                    height:55px;
                }

            }

        }

        li:hover{
            background-color:$darkteal;
            text-shadow:0px 1px 0px $dentedteal;
            color:white;
        }
    }
}
/*----- Footer -----*/
footer{
    background-color: $darkgrey;
    font-size:11px;
    text-align:center;
    padding:5px;
    clear:both;
    a{
        color:$lightteal;
        text-decoration: none;
        border-bottom: 0.8px dotted;
    }
}

/*---------- Main Content ---------- */
$column-height: 70px;

.msg{
    color:$darkgrey;
}
#timetable-wrapper{
    width: 87%;
    float: left;
    margin-right: 2%;

    @include small(){
        margin-right:0%;
        margin-left:2%;
    }

}
.timetable-column{
    width:99%;
    position:relative;
    clear:both;
    padding:10px;
    margin-bottom: 5px;
    border-bottom: 5px dashed #313131;
    padding-left:1.3%;

    @include small(){
        padding:0;
        border-bottom: 3px dashed #313131;
    }

}
.timetable-column-title{
    color: white;
    font-weight: lighter;
    font-size:20px;
}
ul.timetable-column-events{
    width:100%;
    position:relative;
}
ul.timetable-column-events:hover{
    background-color: rgba(62, 172, 171, 0.09);
    cursor: pointer;
}

li.society{
    width:100%;
    height:100px;
    list-style-type:none;
    clear:both;
    margin-bottom:20px;
    border-radius:5px;
    @include dented();
    @include small(){
        margin-bottom:10px;
        height:$column-height;
    }
}
.society-image{
    width:100px;
    height:100px;
    background-color:$darkgrey;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: 0;

    @include small(){
        width:$column-height;
        height:$column-height;
    }

    img{
        width:100%;
        height:100%;
    }
}
.society-text{
    width: 36%;
    position: absolute;
    left: 110px;
    top:6px;

    @include small(){
        left: 80px;
        width:45%;
        height:$column-height;
        top:0;
        overflow:auto;
    }

    @include xs(){
        width:50%;
    }

    .society-name{
        color:$babyblue;
        font-size:20px;
        text-shadow:0px 1px 0px black;
        @include line();

        @include small(){
            font-size:17px;
            padding-top:3px;
        }

    }
    .society-location{
        color:skyblue;
        font-size:17px;

        @include small(){
            font-size: 13px;
            line-height: 15px;
            vertical-align: middle;
            height: 40px;
            display: table-cell;
        }
        
    }
}


.society-time {
    height: 100%;
    border-top-right-radius: 5px;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    text-shadow: 0 1px 0 #0b4a49;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    @include small(){
        font-size:16px;
        height: $column-height;
    }
    @include xs(){
        width:25%;
    }
    div{
        color: white;
        padding: 11.5px 20px;
        text-align: center;

        @include small(){
            height: 50%;
            line-height:2.1em;
            padding:0;
        }

    }

    .society-time-start{
        background-color:$darkteal;
    }

    .society-time-end{
        background-color:$lightteal;
    }
}

